<div class="site-header__text">
    <a class="site-header__title" href="{{ '/' | relative_url }}">
        {{ site.title | escape }}
    </a>

    {% if site.description %}
    <p class="site-header__desc">
        {{ site.description }}
    </p>
    {% endif %}

    <nav class="site-header__nav">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/log/' | relative_url }}">Log</a>
        <a href="{{ '/exercises/' | relative_url }}">Exercises</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
    </nav>
</div>